openapi: 3.0.1
info:
  title: QuestBook Data Validator
  version: 0.1.0
  description: Validates data, uploads & pins it to IPFS
servers:
  - url: https://api-grant-validator.questbook.app
    description: Production server
  - url: http://localhost:3001
    description: Local server
paths:
  /validate/grant-create:
    post:
      operationId: validateGrantCreate
      summary: Validate, upload & pin grant to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/grant-update:
    post:
      operationId: validateGrantUpdate
      summary: Validate & update grant to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/workspace-create:
    post:
      operationId: validateWorkspaceCreate
      summary: Validate, upload & pin workspace data to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/workspace-update:
    post:
      operationId: validateWorkspaceUpdate
      summary: Validate, upload & pin workspace patch data to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/grant-application-create:
    post:
      operationId: validateGrantApplicationCreate
      summary: Validate, upload & pin grant application data to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantApplicationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/grant-application-update:
    post:
      operationId: validateGrantApplicationUpdate
      summary: Validate, upload & pin grant application data to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantApplicationUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/application-milestone-update:
    post:
      operationId: validateApplicationMilestoneUpdate
      summary: Validate, upload & pin grant application milestone to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationMilestoneUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/review-set:
    post:
      operationId: validateReviewSet
      summary: Set the review for an application
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewSetRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/rubric-set:
    post:
      operationId: validateRubricSet
      summary: Set the rubric for a grant
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RubricSetRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    Error:
      type: object
      required:
        - statusCode
        - error
        - message
      properties:
        statusCode:
          type: integer
          minLength: 200
          maximum: 505
        error:
          type: string
          description: Specific description of the error
        message:
          type: string
          description: What the error was
        data:
          type: object
          description: Some extra information about the error
    Address:
      type: string
      example: '0x95b58a6bff3d14b7db2f5cb5f0ad413dc2940658'
      minLength: 16
      maxLength: 256
      format: hex
    Amount:
      type: string
      pattern: '^[0-9]{1,64}$'
      description: Positive integer amount of currency. Is a string to allow bigint inputs
      format: integer
      maxLength: 64
    SupportedNetwork:
      type: string
      description: Chain ID of the network
      enum:
        - '1' # ETH mainnet
        - '10' # Optimism mainnet
        - '4' # Rinkeby testnet
        - '137' # Polygon
        - '80001' # Polygon testnet
        - '1666700000' # harmony
        - '1666600000' # harmony
    GrantField:
      type: object
      additionalProperties: false
      required:
        - title
        - inputType
      properties:
        title:
          description: Human readable title of the field
          type: string
          maxLength: 512
        inputType:
          type: string
          enum:
            - short-form
            - long-form
            - numeric
            - array
        enum:
          description: Constraint possible inputs for this field
          type: array
          items:
            type: string
            maxLength: 256
          maxItems: 20
        pii:
          description: Whether this field is PII (personally identifiable information) or not
          type: boolean
          default: false 
    GrantProposedMilestone:
      type: object
      required:
        - title
        - amount
      properties:
        title:
          type: string
          maxLength: 255
        amount:
          $ref: '#/components/schemas/Amount'
    GrantApplicationFieldAnswer:
      type: array
      items:
        $ref: '#/components/schemas/GrantApplicationFieldAnswerItem'
      maxItems: 100
    RequiredGrantApplicationFieldAnswer:
      type: array
      items:
        $ref: '#/components/schemas/GrantApplicationFieldAnswerItem'
      maxItems: 100
      minItems: 1
    GrantApplicationFieldAnswerItem:
      type: object
      additionalProperties: false
      required:
        - value
      properties:
        value: 
          type: string
          maxLength: 7000
    PIIAnswer:
      type: string
      description: JSON serialized object, encrypted with a specific user's public key
      format: base64
    PIIAnswers:
      type: object
      description: Map of encrypted information mapped by the wallet ID, whose public key was used to map the specific information
      additionalProperties:
        $ref: '#/components/schemas/PIIAnswer'
    GrantApplicationFieldAnswers:
      type: object
      description: Maps ID of the field to the answer by the applicant
      additionalProperties:
        $ref: '#/components/schemas/GrantApplicationFieldAnswer'
    GrantApplicationRequest:
      type: object
      additionalProperties: false
      required:
        - grantId
        - applicantId
        - fields
        - milestones
      properties:
        grantId:
          type: string
        applicantId:
          $ref: "#/components/schemas/OwnerID"
        fields:
          $ref: "#/components/schemas/GrantApplicationFieldAnswers"
        pii:
          $ref: '#/components/schemas/PIIAnswers'
        milestones:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/GrantProposedMilestone"
    GrantApplicationUpdate:
      type: object
      additionalProperties: false
      properties:
        fields:
          $ref: "#/components/schemas/GrantApplicationFieldAnswers"
        pii:
          $ref: '#/components/schemas/PIIAnswers'
        milestones:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/GrantProposedMilestone"
        feedback:
          type: string
          minLength: 1
          maxLength: 4096
    SocialItem:
      type: object
      additionalProperties: false
      required:
        - name
        - value
      properties:
        name:
          type: string
          maxLength: 64
        value:
          type: string
          maxLength: 255
    WorkspaceCreateRequest:
      type: object
      additionalProperties: false
      required:
        - title
        - about
        - logoIpfsHash
        - creatorId
        - supportedNetworks
        - socials
      properties:
        title:
          type: string
          maxLength: 128
        about:
          type: string
          maxLength: 5000
        logoIpfsHash:
          type: string
          description: IPFS hash of the logo of the workspace
          maxLength: 128
        coverImageIpfsHash:
          type: string
          description: IPFS hash of the cover of the workspace
          maxLength: 128
        creatorId:
          $ref: "#/components/schemas/OwnerID"
        creatorPublicKey:
          $ref: "#/components/schemas/PublicKey"
        supportedNetworks:
          type: array
          maxItems: 25
          items:
            $ref: "#/components/schemas/SupportedNetwork"
        socials:
          type: array
          items:
            $ref: "#/components/schemas/SocialItem"
          maxItems: 10
    PublicKey:
      description: The public encryption key associated with the account address
      type: string
      maxLength: 255
    WorkspaceUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          maxLength: 128
        about:
          type: string
          maxLength: 5000
        logoIpfsHash:
          type: string
          description: IPFS hash of the logo of the workspace
          maxLength: 128
        coverImageIpfsHash:
          type: string
          description: IPFS hash of the cover of the workspace
          maxLength: 128
        socials:
          type: array
          items:
            $ref: "#/components/schemas/SocialItem"
          maxItems: 10
        publicKey:
          $ref: "#/components/schemas/PublicKey"
    ApplicationMilestoneUpdate:
      type: object
      additionalProperties: false
      required:
        - text
      properties:
        text:
          type: string
          maxLength: 4096
    GrantFieldMap:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/GrantField"
      required:
        - applicantName
        - applicantEmail
        - projectName
        - projectDetails
        - fundingBreakdown
      properties:
        applicantName:
          $ref: "#/components/schemas/GrantField"
        applicantEmail:
          $ref: "#/components/schemas/GrantField"
        projectName:
          $ref: "#/components/schemas/GrantField"
        projectDetails:
          $ref: "#/components/schemas/GrantField"
        fundingBreakdown:
          $ref: "#/components/schemas/GrantField"
    GrantReward:
      type: object
      additionalProperties: false
      required:
        - asset
        - committed
      properties:
        committed:
            $ref: "#/components/schemas/Amount"
        asset:
          $ref: "#/components/schemas/Address"
    ReviewItem:
      type: object
      required:
        - rating
      properties:
        rating:
          type: integer
          minimum: 0
        note:
          type: string
          description: Content or IPFS hash of the review note
          maxLength: 7000
    Review:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/ReviewItem"
    ReviewSetRequest:
      type: object
      required:
        - reviewer
        - encryptedReview
      properties:
        reviewer:
          $ref: '#/components/schemas/Address'
        encryptedReview:
          type: object
          description: Encrypted review data. Map of the grant manager address => IPFS hash of the review encrypted with their public key
          additionalProperties:
            type: string
            maxLength: 255
    RubricItem:
      type: object
      additionalProperties: false
      required:
        - title
      properties:
        title:
          type: string
          maxLength: 1024
        details:
          type: string
          description: Details about the evaluatation rubric
          maxLength: 4096
    Rubric:
      type: object
      description: Map of evaluation rubric ID to rubric data
      additionalProperties:
        $ref: "#/components/schemas/RubricItem"
    RubricSetRequest:
      type: object
      additionalProperties: false
      required:
        - rubric
      properties:
        rubric:
          $ref: "#/components/schemas/Rubric"
    GrantCreateRequest:
      type: object
      additionalProperties: false
      required:
        - title
        - summary
        - details
        - reward
        - creatorId
        - workspaceId
        - fields
      properties:
        title:
          type: string
          maxLength: 255
        summary:
          type: string
          maxLength: 1024
        details:
          type: string
          maxLength: 4096
        deadline:
          type: string
          format: date-time
          description: Deadline of the application
          maxLength: 128
        reward:
          $ref: "#/components/schemas/GrantReward"
        creatorId:
          $ref: "#/components/schemas/OwnerID"
        workspaceId:
          type: string
          description: the workspace the grant is from
          maxLength: 128
        fields:
          $ref: "#/components/schemas/GrantFieldMap"
        grantManagers:
          type: array
          items:
            $ref: "#/components/schemas/Address"
          minItems: 1
    GrantUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          maxLength: 255
        summary:
          type: string
          maxLength: 1024
        details:
          type: string
          maxLength: 4096
        deadline:
          type: string
          format: date-time
          description: Deadline of the application
          maxLength: 128
        reward:
          $ref: "#/components/schemas/GrantReward"
        fields:
          $ref: "#/components/schemas/GrantFieldMap"
        grantManagers:
          type: array
          items:
            $ref: "#/components/schemas/Address"
          minItems: 1
    OwnerID:
      type: string
      minLength: 16
      maxLength: 255
      example: '0x71C7656EC7ab88b098defB751B7411C5f6d8976F'
  responses:
    ValidationSuccessResponse:
      description: Validation was success, data pushed to IPFS & pinned
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required:
              - ipfsHash
              - url
            properties:
              ipfsHash:
                type: string
                description: IPFS hash of the uploaded grant
                example: QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco
              url:
                type: string
                description: http url that can be used to fetch the uploaded grant file
                example: https://ipfs.io/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco
    ErrorResponse:
      description: Generic error response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
