openapi: 3.0.1
info:
  title: QuestBook Data Validator
  version: 0.1.0
  description: Validates data, uploads & pins it to IPFS
servers:
  - url: https://api-grant-validator.questbook.app
    description: Production server
  - url: http://localhost:3001
    description: Local server
paths:
  /fetch/token-price:
    get:
      operationId: fetchTokenPrice
      summary: Provide token price
      tags:
        - Token price fetch
      responses:
        '200':
          $ref: '#/components/responses/TokenFetchSuccess'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      parameters:
        - name: symbol
          in: query
          description: symbol of token to fetch
          example: '0.00002'
          required: true
          schema:
            type: string
  /validate/grant-create:
    post:
      operationId: validateGrantCreate
      summary: Validate, upload & pin grant to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/grant-update:
    post:
      operationId: validateGrantUpdate
      summary: Validate & update grant to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/workspace-create:
    post:
      operationId: validateWorkspaceCreate
      summary: Validate, upload & pin workspace data to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/workspace-update:
    post:
      operationId: validateWorkspaceUpdate
      summary: Validate, upload & pin workspace patch data to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/grant-application-create:
    post:
      operationId: validateGrantApplicationCreate
      summary: Validate, upload & pin grant application data to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantApplicationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/grant-application-update:
    post:
      operationId: validateGrantApplicationUpdate
      summary: Validate, upload & pin grant application data to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantApplicationUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/application-milestone-update:
    post:
      operationId: validateApplicationMilestoneUpdate
      summary: Validate, upload & pin grant application milestone to IPFS
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationMilestoneUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/review-set:
    post:
      operationId: validateReviewSet
      summary: Set the review for an application
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewSetRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/rubric-set:
    post:
      operationId: validateRubricSet
      summary: Set the rubric for a grant
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RubricSetRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /validate/workspace-member-update:
    post:
      operationId: validateWorkspaceMemberUpdate
      summary: Update the details of a workspace member
      tags:
        - Validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceMemberUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ValidationSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    Error:
      type: object
      required:
        - statusCode
        - error
        - message
      properties:
        statusCode:
          type: integer
          minLength: 200
          maximum: 505
        error:
          type: string
          description: Specific description of the error
        message:
          type: string
          description: What the error was
        data:
          type: object
          description: Some extra information about the error
    Address:
      type: string
      example: '0x95b58a6bff3d14b7db2f5cb5f0ad413dc2940658'
      minLength: 16
      maxLength: 256
      format: hex
    Amount:
      type: string
      pattern: ^[0-9]{1,64}$
      description: Positive integer amount of currency. Is a string to allow bigint inputs
      format: integer
      maxLength: 64
    Partner:
      type: object
      required:
        - name
        - industry
      properties:
        name:
          description: Partner name
          type: string
          maxLength: 64
        industry:
          type: string
          description: Partner industry
          maxLength: 64
        website:
          type: string
          description: Partner website
          maxLength: 256
        partnerImageHash:
          type: string
          description: IPFS hash of partner picture
          maxLength: 128
    Token:
      type: object
      required:
        - label
        - address
        - decimal
        - iconHash
      properties:
        label:
          description: Token Symbol to be displayed
          type: string
          maxLength: 64
        address:
          $ref: '#/components/schemas/Address'
        chainId:
          type: integer
          minimum: 0
          description: The chain the token is on, leave undefined to denote same chain
        decimal:
          type: string
          pattern: ^[1-9][0-9]{0,2}
          description: Decimal for token
          format: integer
          maxLength: 4
        iconHash:
          type: string
          description: IPFS hash of token icon
          maxLength: 128
    TokenFetchRequest:
      type: string
      description: Token fetch request 
      required:
        - tokenId
    SupportedNetwork:
      type: string
      description: Chain ID of the network
      enum:
        - '1313161555'
        - '44787'
        - '42220'
        - '9000'
        - '2153'
        - '1666600000'
        - '1666700000'
        - '8217'
        - '1001'
        - '42'
        - '1287'
        - '245022926'
        - '69'
        - '10'
        - '137'
        - '80001'
        - '4'
    GrantField:
      type: object
      additionalProperties: false
      required:
        - title
        - inputType
      properties:
        title:
          description: Human readable title of the field
          type: string
          maxLength: 512
        inputType:
          type: string
          enum:
            - short-form
            - long-form
            - numeric
            - array
        enum:
          description: Constraint possible inputs for this field
          type: array
          items:
            type: string
            maxLength: 256
          maxItems: 20
        pii:
          description: >-
            Whether this field is PII (personally identifiable information) or
            not
          type: boolean
          default: false
    GrantProposedMilestone:
      type: object
      required:
        - title
        - amount
      properties:
        title:
          type: string
          maxLength: 255
        amount:
          $ref: '#/components/schemas/Amount'
    GrantApplicationFieldAnswer:
      type: array
      items:
        $ref: '#/components/schemas/GrantApplicationFieldAnswerItem'
      maxItems: 100
    RequiredGrantApplicationFieldAnswer:
      type: array
      items:
        $ref: '#/components/schemas/GrantApplicationFieldAnswerItem'
      maxItems: 100
      minItems: 1
    GrantApplicationFieldAnswerItem:
      type: object
      additionalProperties: false
      required:
        - value
      properties:
        value:
          type: string
          maxLength: 7000
    PIIAnswer:
      type: string
      description: JSON serialized object, encrypted with a specific user's public key
      format: base64
    PIIAnswers:
      type: object
      description: >-
        Map of encrypted information mapped by the wallet ID, whose public key
        was used to map the specific information
      additionalProperties:
        $ref: '#/components/schemas/PIIAnswer'
    GrantApplicationFieldAnswers:
      type: object
      description: Maps ID of the field to the answer by the applicant
      additionalProperties:
        $ref: '#/components/schemas/GrantApplicationFieldAnswer'
    GrantApplicationRequest:
      type: object
      additionalProperties: false
      required:
        - grantId
        - applicantId
        - fields
        - milestones
      properties:
        grantId:
          type: string
        applicantId:
          $ref: '#/components/schemas/OwnerID'
        fields:
          $ref: '#/components/schemas/GrantApplicationFieldAnswers'
        pii:
          $ref: '#/components/schemas/PIIAnswers'
        milestones:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/GrantProposedMilestone'
    WorkspaceMemberUpdate:
      type: object
      properties:
        fullName:
          type: string
          maxLength: 255
        profilePictureIpfsHash:
          type: string
          maxLength: 128
          description: IPFS hash of the profile picture
    GrantApplicationUpdate:
      type: object
      additionalProperties: false
      properties:
        fields:
          $ref: '#/components/schemas/GrantApplicationFieldAnswers'
        pii:
          $ref: '#/components/schemas/PIIAnswers'
        milestones:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/GrantProposedMilestone'
        feedback:
          type: string
          minLength: 1
          maxLength: 4096
    SocialItem:
      type: object
      additionalProperties: false
      required:
        - name
        - value
      properties:
        name:
          type: string
          maxLength: 64
        value:
          type: string
          maxLength: 255
    WorkspaceCreateRequest:
      type: object
      additionalProperties: false
      required:
        - title
        - about
        - logoIpfsHash
        - creatorId
        - supportedNetworks
        - socials
      properties:
        title:
          type: string
          maxLength: 128
        bio:
          type: string
          maxLength: 200
        about:
          type: string
          maxLength: 5000
        partners:
          type: array
          items:
            $ref: '#/components/schemas/Partner'
        logoIpfsHash:
          type: string
          description: IPFS hash of the logo of the workspace
          maxLength: 128
        coverImageIpfsHash:
          type: string
          description: IPFS hash of the cover of the workspace
          maxLength: 128
        creatorId:
          $ref: '#/components/schemas/OwnerID'
        creatorPublicKey:
          $ref: '#/components/schemas/PublicKey'
        supportedNetworks:
          type: array
          maxItems: 25
          items:
            $ref: '#/components/schemas/SupportedNetwork'
        socials:
          type: array
          items:
            $ref: '#/components/schemas/SocialItem'
          maxItems: 10
    PublicKey:
      description: The public encryption key associated with the account address
      type: string
      maxLength: 255
    WorkspaceUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          maxLength: 128
        bio:
          type: string
          maxLength: 200
        about:
          type: string
          maxLength: 5000
        logoIpfsHash:
          type: string
          description: IPFS hash of the logo of the workspace
          maxLength: 128
        partners:
          type: array
          items:
            $ref: '#/components/schemas/Partner'
        coverImageIpfsHash:
          type: string
          description: IPFS hash of the cover of the workspace
          maxLength: 128
        socials:
          type: array
          items:
            $ref: '#/components/schemas/SocialItem'
          maxItems: 10
        publicKey:
          $ref: '#/components/schemas/PublicKey'
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/Token'
    ApplicationMilestoneUpdate:
      type: object
      additionalProperties: false
      required:
        - text
      properties:
        text:
          type: string
          maxLength: 4096
    GrantFieldMap:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/GrantField'
      required:
        - applicantName
        - applicantEmail
        - projectName
        - projectDetails
      properties:
        applicantName:
          $ref: '#/components/schemas/GrantField'
        applicantEmail:
          $ref: '#/components/schemas/GrantField'
        projectName:
          $ref: '#/components/schemas/GrantField'
        projectDetails:
          $ref: '#/components/schemas/GrantField'
        fundingBreakdown:
          $ref: '#/components/schemas/GrantField'
    GrantReward:
      type: object
      additionalProperties: false
      required:
        - asset
        - committed
      properties:
        committed:
          $ref: '#/components/schemas/Amount'
        asset:
          $ref: '#/components/schemas/Address'
        token:
          $ref: '#/components/schemas/Token'
    ReviewItem:
      type: object
      required:
        - rating
      properties:
        rating:
          type: integer
          minimum: 0
        note:
          type: string
          description: Content or IPFS hash of the review note
          maxLength: 7000
    Review:
      type: object
      required:
        - isApproved
        - evaluation
      properties:
        isApproved:
          type: boolean
          description: Does the reviewer approve of the application
        comment:
          type: string
          description: General comment about the application
          minLength: 1
        evaluation:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ReviewItem'
    ReviewSetRequest:
      type: object
      required:
        - reviewer
        - encryptedReview
      properties:
        reviewer:
          $ref: '#/components/schemas/Address'
        publicReviewDataHash:
          type: string
          maxLength: 255
        encryptedReview:
          type: object
          description: >-
            Encrypted review data. Map of the grant manager address => IPFS hash
            of the review encrypted with their public key
          additionalProperties:
            type: string
            maxLength: 255
    RubricItem:
      type: object
      additionalProperties: false
      required:
        - title
        - maximumPoints
      properties:
        title:
          type: string
          maxLength: 1024
        details:
          type: string
          description: Details about the evaluatation rubric
          maxLength: 6000
        maximumPoints:
          type: integer
          minimum: 1
          maximum: 10
    Rubric:
      type: object
      description: Map of evaluation rubric ID to rubric data
      required:
        - isPrivate
        - rubric
      properties:
        isPrivate:
          type: boolean
        rubric:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RubricItem'
    RubricSetRequest:
      type: object
      additionalProperties: false
      required:
        - rubric
      properties:
        rubric:
          $ref: '#/components/schemas/Rubric'
    GrantCreateRequest:
      type: object
      additionalProperties: false
      required:
        - title
        - summary
        - details
        - reward
        - creatorId
        - workspaceId
        - fields
      properties:
        title:
          type: string
          maxLength: 255
        summary:
          type: string
          maxLength: 1024
        details:
          type: string
          maxLength: 4096
        deadline:
          type: string
          format: date-time
          description: Deadline of the application
          maxLength: 128
        reward:
          $ref: '#/components/schemas/GrantReward'
        creatorId:
          $ref: '#/components/schemas/OwnerID'
        workspaceId:
          type: string
          description: the workspace the grant is from
          maxLength: 128
        fields:
          $ref: '#/components/schemas/GrantFieldMap'
        grantManagers:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          minItems: 1
    GrantUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          maxLength: 255
        summary:
          type: string
          maxLength: 1024
        details:
          type: string
          maxLength: 4096
        deadline:
          type: string
          format: date-time
          description: Deadline of the application
          maxLength: 128
        reward:
          $ref: '#/components/schemas/GrantReward'
        fields:
          $ref: '#/components/schemas/GrantFieldMap'
        grantManagers:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          minItems: 1
    OwnerID:
      type: string
      minLength: 16
      maxLength: 255
      example: '0x71C7656EC7ab88b098defB751B7411C5f6d8976F'
  responses:
    TokenFetchSuccess:
      description: Token fetching was a success
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required:
              - data
            properties:
              data:
                type: string
                description: token price data in USD from CMC
                example: '1000'
    ValidationSuccessResponse:
      description: Validation was success, data pushed to IPFS & pinned
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required:
              - ipfsHash
              - url
            properties:
              ipfsHash:
                type: string
                description: IPFS hash of the uploaded grant
                example: QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco
              url:
                type: string
                description: http url that can be used to fetch the uploaded grant file
                example: >-
                  https://ipfs.io/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco
    ErrorResponse:
      description: Generic error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
